.errorModal {
  position: fixed;
  padding: 0rem;
  background-color: whitesmoke;
  /* removes the corners if it was rounded */
  overflow: hidden;
  top: 20vh;
  left: 20%;
}

.header {
  background: #6d128d;
  padding: 1rem;
  color: white;
  font-size: large;
}

.content {
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: end;
  padding: 1rem;
}
.footer button {
  width: auto;
}
