.conceptList {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.conceptList button {
  display: flex;
  color: black;
  background-color: #c7b3c7;
  font-size: large;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 0.1rem;
  flex-direction: column;
  padding-right: 4rem;
  border: 0;
}

.conceptList button:hover,
.conceptList button:hover,
.conceptList.selected {
  color: white;
  background-color: #6d128d;
  /* background-color: #472606; */
}
