.concepts h1 {
  color: #6d0b8e;
  margin-left: 1rem;
  padding: 1rem;
  background-color: black;
  border-radius: 10px;
}
.conceptsButtons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
