.login {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.login h3 {
  border-radius: 8px 8px 0 0;
  background-color: #6d128d;
  top: 0;
  margin: 0;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.login button {
  background-color: #6d128d;
  color: white;
  border-radius: 20px;
  width: 30%;
  margin-left: 35%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.login button:disabled,
.login button:focus:disabled,
.login button:hover:disabled,
.login button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.credentials {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 0 1rem;
}

.labels {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.labels label {
  margin: 0.5rem;
  font-size: large;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputs input {
  margin: 0.5rem;
  font-size: large;
}

.inputs.invalid input,
.inputs.invalid input:focus {
  background-color: rgba(167, 12, 12, 0.25);
  border-color: #a70c0c;
}