.goalList{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
}
.goalList.goalListItem{
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
}