.colors {
  /* Red (142,11,33) */
  color: #8e0b21;

  /* Pink (142,11,87) */
  color: #8e0b57;

  /* Purple (109,11,142) */
  color: #6d0b8e;

  /* Brown (71,38,6) */
  color: #472606;

  /* Black (0,0,0) */
  color: #000000;
}
